[submodule "open-webui/codebase"]
	path = open-webui/codebase
	url = https://github.com/cy-suite/open-webui.git
[submodule "gunicorn/codebase"]
	path = gunicorn/codebase
	url = https://github.com/cy-suite/gunicorn.git
[submodule "setuptools/codebase"]
	path = setuptools/codebase
	url = https://github.com/cy-suite/setuptools.git